
body {
	margin: 0;   
    background-image: linear-gradient(120deg, #00AAFF,#00FF6C);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    height: 100%;
    background-color: rgba(255,255,255, .75);
}
.grid > button:hover{
    
    background-color: rgba(255,255,255, .9);
}
.span-two{
    grid-column: span 2;
}

.screen_div{
    grid-column: 1 / -1;
    background-color: rgba(000,000,000,.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    height: 85%; ;
    word-wrap: break-word;
    word-break: break-all;
    color: aliceblue;
}

.previousChar{
    font-size: large;
}

.currentChar{
    font-size: xx-large;
}




